tensorflow-gpu==2.5.3
tensorflow==2.3.0
pillow
opencv-python
matplotlib
scikit-image
imantics
IPython
pdf2image
Django
django-cors-headers
djangorestframework
cachetools
Pillow
cython
django-filter
django-storages
gast
h5py
sqlparse
urllib3
PyYAML
absl-py
astor
certifi
chardet
google-auth
google-auth-oauthlib
google-pasta
grpcio
idna
joblib
Keras
Keras-Applications
Keras-Preprocessing
Markdown
numpy
oauthlib
opencv-python
opt-einsum
pandas
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorflow-estimator
termcolor
Werkzeug
uWSGI
wrapt


