absl-py
astor
cachetools
certifi
chardet
Django
django-cors-headers
djangorestframework
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
Keras
Keras-Applications
Keras-Preprocessing
Markdown
numpy
oauthlib
opencv-python
opt-einsum
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
#scikit-image
scipy
six
sqlparse
tensorboard
#tensorflow-gpu==2.3.0
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
#uWSGI
wrapt
matplotlib
imantics
IPython
pdf2image
multiprocessing
functools

