
body {
    display: flex;
    flex-direction: column;
  }

.back{
    background: #f8f8f8;
    border:1px dashed #f0f0f0;
    border-radius: 5px;

    margin: 10px 0;
    padding: 2px 5px;
    outline: none;
    cursor: pointer;
}

.central_div{
    
    overflow:scroll; 
    min-height:50%;

}

.phantom{
    height:400px;
    width:100%;
}

.standAloneIcon {
    color: tan;
  }
  

.back:hover{
    border: 1px dashed #8668a6;
}

#decimerDropzone{
    margin-top: 1%;
    margin-bottom: 2%;
}

.Card{
    margin-bottom:5px;
}

